@import "tailwindcss";
@plugin "@tailwindcss/typography";

.custom-scrollbar::-webkit-scrollbar { width: 5px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #27272a; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #3f3f46; }


.prose code::before,
.prose code::after {
  content: "" !important;
}

.prose pre {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

.prose pre code {
  background-color: transparent !important;
  padding: 0 !important;
}